<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{{ page_title | escape }}</title>
    
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
</head>
<body>
    <main role="main" id="MainContent">
        {{ content_for_layout }}
    </main>
    {{ 'application.js' | asset_url | script_tag }}
</body>
</html>